:root {
    --color-white: white;
    --color-gray: #f0f2f5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70vh;
}

.content-info {
    width: 37.5rem;
}

.content-login {
    width: 21.875rem;
}